* {
  outline: none;
  box-sizing: border-box;
}

.ixbl{
  &-backlash{
    margin: 20px 0;

    &__wrapper {}
    &__container {
      display: flex;
    }
    &__item {
      margin-right: 20px;
      text-decoration: none;
    }

    a.ixbl-backlash__btn {
      text-decoration: none;
      font-size: 22px;
    }

    &__btn{
      padding: 11px 35px;
      background: #00C1FF;
      border-radius: 8px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      align-items: center;

      span {
        height: 24px;
        display: inline-block;
        margin-right: 20px;
      }

      &-like{
        span{
          width: 25px;
          background: url('../images/btn-like.svg') no-repeat;
          background-size: contain;
        }
      }

      &-dislike {
        span{
          width: 24px;
          background: url('../images/btn-dislike.svg') no-repeat;
          background-size: contain;
        }
      }
    }
    &__btn:hover {
      opacity: 0.7;
    }
  }
}