* {
  outline: none;
}

.ixbl{
  &-backlash{
    &__wrapper {}
    &__container {}
    &__item {}

    &__btn{
      padding: 11px 35px;
      background: #00C1FF;
      border-radius: 8px;
      box-sizing: border-box;
      color: #FFFFFF;

      &-like{
        span{
          width: 25px;
          background: url('../images/btn-like.svg') no-repeat;
          background-size: contain;
        }
      }

      &-dislike {
        span{
          width: 24px;
          background: url('../images/btn-dislike.svg') no-repeat;
          background-size: contain;
        }
      }


    }
  }
}


